.page-not-found {
  margin: 0;
  background: linear-gradient(91.12deg, #b068f5, #cd7db8 54.09%, #f1966d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blank-line {
  margin: 0;
  font-size: var(--font-size-lgi-3);
}
.div6,
.page-not-found-container {
  position: absolute;
  line-height: 30.29px;
  font-weight: 900;
  display: inline-block;
}
.page-not-found-container {
  top: 244px;
  left: 511px;
  width: 458px;
  height: 89px;
  font-size: var(--font-size-31xl);
}
.div6 {
  top: 406px;
  left: 130px;
  font-size: 400px;
  color: var(--color-black);
  width: 1180px;
  height: 439px;
  opacity: 0.2;
}
.page-you-are {
  margin: 0;
  font-weight: 900;
}
.welcome-to-the {
  margin: 0;
}
.page-you-are-container {
  position: absolute;
  top: 381px;
  left: 337px;
  line-height: 30.29px;
  display: inline-block;
  width: 848px;
  height: 131px;
}
.go-home-button-child {
  position: absolute;
  top: 0;
  left: calc(50% - 113.5px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 227px;
  height: 53px;
}
.go-home {
  position: absolute;
  top: 12px;
  left: calc(50% - 100.5px);
  line-height: 30.29px;
  font-weight: 900;
  display: inline-block;
  width: 200px;
  height: 33px;
}
.go-home-button {
  position: absolute;
  top: 591px;
  left: calc(50% - 113px);
  width: 227px;
  height: 53px;
  color: var(--color-black);
}
.pencil-robot-icon7 {
  position: absolute;
  top: 195px;
  left: calc(50% - 671px);
  width: 310px;
  height: 363px;
  object-fit: cover;
  opacity: 0.14;
}
.error-not-found-page-common-fo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-100);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}
.error-page-dark-mode {
  width: 100%;
  position: relative;
  height: 1024px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
